# This repo is used to route dispatches between other repositories to chain builds.

name: Github Actions Dispatches Router
on:
  repository_dispatch:

jobs:
  # Perform initial sorting
  initial-router:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      
      - name: Print startup message
        run: |-
          echo Starting the dispatches router
          
      # Setup basics and print out data
      - name: Print environment
        run: |-
          echo Input parameters:
          TEMPFILE=data.json
          echo "Creating temporary file ${TEMPFILE}"
          cat << ENDOFDOC > ${TEMPFILE}
          ${{ toJson(github.event.client_payload) }}
          ENDOFDOC
          
          echo File contents:
          cat ${TEMPFILE}
